<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>회원등록</title>
<style>
table{
    width:700px;
    border:2px solid pink;
}
body{
    font-size:17px;
    font-family: "Cambria", "Gochin", "Georgia", "Times";
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
<script>
//문서내의 모든~ DOM이 메모리에 올라오면
$(function(){
    CKEDITOR.replace( 'memo' ); //GUI 편집기로 대체해버림

    //버튼에 이벤트 구현하기
    $($("button")[0]).click(function(){ //회원탈퇴
        
        location.href="loginForm.html";     //html의 <a href="">와 같음
    });
    $($("button")[1]).click(function(){ //정보수정

        //6개를 대상으로 체크되어 있는게 1개 이상인지를 검사
        var n=0;    //체크된 횟수를 누적시킬 변수
        for(var i=0; i<$("form input[name='skill_id']").length; i++){
            var ch = $("form input[name='skill_id']")[i];   //0 :java, 1:oracle
            if(ch.checked){
                n++;
            }
        }

        if(n<1){    //보유기술을 체크하지 안핬다면
            alert("적어도 1개 이상 기술을 체크해주세요");
            return; //실행부를 리턴시킴
        }

        $("form").attr({
            action:"/member/regist",
            method:"get"
        });
        $("form").submit();     //서버에 전송
    });



});
</script>
</head>
<body>
<!-- form의 역할 : 입력양식의 전송범위를 설정하기 위한 태그 -->
<form action="">
    <table align="center">
        <tr>
            <td colspan="2" align="center">회원정보 상세</td>
        </tr>
        <tr>
            <td>ID</td>
            <td><input type="text" name="uid" value="<%=member.uid%>"/></td>
        </tr>
        <tr>
            <td>PASSWORD</td>
            <td><input type="password" name="password" maxlength="8"/> *8자 이하로 입력</td>
        </tr>
        <tr>
            <td>NAME</td>
            <td><input type="text" name="uname" value="<%=member.uname%>"/></td>
        </tr>
        <tr>
            <td>TEL</td>
            <td><input type="text" name="phone" value="<%=member.phone%>"/></td>
        </tr>
        <tr>
            <td>EMAIL</td>
            <td>
                <input type="text" name="email_id"/> @ 
                <select name="email_server">
                    <option value="naver.com">naver</option>
                    <option value="google.com">google</option>
                    <option value="daum.net">daum</option>
                    <option value="0">직접입력</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Email Receive</td>
            <td>
                YES<input type="radio" name="receive" value="yes"/>
                NO<input type="radio" name="receive" value="no"/>
            </td>
        </tr>
        <tr>
            <td>ADDRESS</td>
            <td><input type="text" name="addr" value="<%=member.addr%>"/></td>
        </tr>
        <tr>
            <td>보유기술</td>
            <td>
                <input type="checkbox" name="skill_id" value="1"/> java
                <input type="checkbox" name="skill_id" value="2"/> oracle
                <input type="checkbox" name="skill_id" value="3"/> android
                <input type="checkbox" name="skill_id" value="4"/> python
                <input type="checkbox" name="skill_id" value="5"/> swift
                <input type="checkbox" name="skill_id" value="6"/> R
            </td>
        </tr>
        <tr>
            <td>MEMO</td>
            <td>
                <textarea name="memo" cols="30" rows="5" id="memo"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button type="button">회원탈퇴</button>
                <button type="button">정보수정</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>